{% extends 'base.html' %}
{% block content %}
<div class="mt-4">
    <h1 class="mb-4">Liste des livres disponibles</h1>

    <!-- Barre de recherche -->
    <form method="get" action="" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Rechercher un livre..." value="{{ request.GET.q }}">
            <button class="btn btn-primary" type="submit">Rechercher</button>
        </div>
    </form>
    
    {% if user.is_authenticated %}
        <a href="{% url 'creer_livre' %}" class="btn btn-success mb-3">Ajouter un livre</a>
    {% endif %}
    <ul class="list-group">
        {% for livre in livres %}
            <li class="list-group-item">
                <a href="{% url 'detail_livre' livre.pk %}" class="text-decoration-none">{{ livre.titre }}</a>
            </li>
        {% empty %}
            <li class="list-group-item text-muted">Aucun livre disponible</li>
        {% endfor %}
    </ul>

    <!-- Pagination -->
    <nav aria-label="Pagination">
        <ul class="pagination mt-4">
            {% if livres.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?q={{ request.GET.q }}&page={{ livres.previous_page_number }}">Précédent</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Précédent</span>
                </li>
            {% endif %}

            {% if livres.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?q={{ request.GET.q }}&page={{ livres.next_page_number }}">Suivant</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <span class="page-link">Suivant</span>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}